ext{
    groupId="mizuki.project.rest.core"
    springBootGradlePluginVerison="1.5.8.RELEASE"

    mavenUrl="http://127.0.0.1:8081/repository/maven-releases/"
    mavenName="admin"
    mavenPwd="admin123"
}